<% if list.show_table? %>
  <table class="browse-table" aria-labelledby="maincontent">
    <thead>
      <tr>
        <th>Records</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% list.items.each do |result| %>
        <% if result.match_notice? %>
          <tr class="match-<%= list.num_matches == 0 ? 'none' : 'notice' %>">
            <td colspan="2">
              <%= list.match_text %>
            </td>
          </tr>
        <% else %>
          <tr <% if result.exact_match? %>class="exact-match"<% end %>>
            <td>
              <%= result.record_text %>
            </td>
            <td>
              <dl>
                <dt class="visually-hidden">Author:</dt>
                <dd>
                  <% if result.results_count > 0 %><a href="<%= result.url%>"><% end %>
                    <span <% if result.exact_match? %>class="strong"<% end %>>
                      <%=result.author%>
                    </span>
                  <% if result.results_count > 0 %></a><% end %>
                  <% if result.heading_link? %>
                    <a href="<%= result.heading_link%>" class="vernacular pipe">View Heading Information</a>
                  <% end %>
                </dd>
                <% if result.has_cross_references? %>
                  <% result.cross_references.each do | cr | %>
                    <% if cr.kind == 'see_also' %>
                      <dt>See Also:</dt>
                    <% end %>
                    <dd>
                      <a href="<%= cr.url%>"><%=cr.author%></a>
                    </dd>
                  <% end %>
                <% end %>
              </dl>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
