<h1>Authors</h1>

<%= erb :'components/pagination', locals: {label: 'Top pagination', list: list} %>
<ul>
  <% list.items.each do |result| %>
    <li>
      <%= result.num_matches %> | Author: <%=result.author%><% if result.heading_link? %> | <a href="<%= result.heading_link%>">Heading Information</a><%end%>
      <% if result.has_cross_references?  %>
        <br/> 
        <% result.cross_references.each do | cr | %>
          <% if cr.kind == 'see' %> See: <% end %>
          <a href="<%=cr.url%>"><%= cr.author%></a> (<%= cr.num_matches %>) <% if cr.heading_link? %> <a href="<%= cr.heading_link %>">Heading Information</a> <% end %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= erb :'components/pagination', locals: {label: 'Bottom pagination', list: list} %>
