<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js',
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-K92RW5D');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1341620-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1341620-18');
    </script>
    <title>Library Search | Browse by Call Number (Library of Congress and Dewey)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/@umich-lib/web@1/umich-lib.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700">
    <link rel="stylesheet" href="<%=ENV.fetch('BASE_URL')%>/browse.css">
    <script type="module" src="https://unpkg.com/@umich-lib/web@1/dist/umich-lib/umich-lib.esm.js"></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K92RW5D"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section aria-label="Skip links" class="site-skip-links">
      <div class="viewport-container">
        <ul>
          <li>
            <a href="#maincontent">Skip to main content</a>
          </li>
          <li>
            <a href="#chat">Skip to Ask a Librarian chat</a>
          </li>
        </ul>
      </div>
    </section>
    <m-universal-header></m-universal-header>
    <m-website-header name="Search" to="https://search.lib.umich.edu/" variant="dark">
      <div role="presentation" class="website-header-inner-container">
        <a href="https://apps.lib.umich.edu/my-account">Account</a>
        <a href="https://apps.lib.umich.edu/my-account/favorites">My Favorites</a>
      </div>
    </m-website-header>
    <form class="search-box" role="search" method="post" action="<%= ENV.fetch('BASE_URL') %>/search">
      <div class="viewport-container search-form">
        <div class="search-box-dropdown">
          <select aria-label="Search or browse by" autocomplete="off" name="type">
            <% fields.each do |group| %>
              <optgroup label="<%=group[:label]%>">
                <% group[:options].each do |option| %>
                  <option <%=option[:disabled]%> <%=option[:selected]%> value="<%=option[:value]%>">
                    <%=option[:label]%>
                  </option>
                <% end %>
              </optgroup>
            <% end %>
          </select>
          <m-icon name="keyboard-arrow-down"></m-icon>
        </div>
        <input aria-label="Browse text" <% if list.error? %>aria-invalid="true" aria-describedby="input-message"<% end %> type="text" autocomplete="on" name="query" value="<%= list.original_reference %>">
        <% if list.error? %>
          <span class="message message--error" id="input-message" role="alert">
            <%= list.error_message %>
          </span>
        <% end %>
        <button>
          <m-icon name="search"></m-icon>
          <span class="visually-hidden">Search</span>
        </button>
      </div>
      <div class="viewport-container search-tip">
        <m-icon name="info-outline"></m-icon>
        <% fields.each do |group| %>
          <% group[:options].each do |option| %>
            <p data-option="<%=option[:value]%>" style="display: <%= option[:selected] ? 'initial' : 'none' %>;">
              <span class="strong"><%=group[:tip]%>:</span>
              <%=option[:tip]%>
            </p>
          <% end %>
        <% end %>
      </div>
    </form>
    <div class="datastores-nav">
      <nav class="viewport-container" aria-label="Datastores">
        <ol>
          <% datastores.each do |datastore| %>
            <li>
              <a href="<%= datastore.href %>" <% if datastore.current? %>aria-current="page"<% end %>>
                <%= datastore.label %>
              </a>
            </li>
          <% end %>
        </ol>
      </nav>
    </div>
    <main class="viewport-container">
      <%
        url_params = request.params.map {|key, value| key} 
        if !url_params.include? 'direction'
      %>
        <m-callout dismissable icon>
          <p class="give-feedback"><span class="strong">Call number browse beta:</span> We're testing a new feature to browse the catalog by call number. Let us know what you think at our <a href="https://umich.qualtrics.com/jfe/form/SV_bCwYIKueEXs8wBf" target="_blank" rel="noopener noreferrer" aria-label="Feedback form - Opens in new window">feedback form <m-icon name="open-in-new"></m-icon></a>.</p>
        </m-callout>
      <% end %>
      <h1 id="maincontent" tabindex="-1">
        <% if list.show_table? %>
          Browse &ldquo;<%= list.original_reference %>&rdquo; in call numbers
        <% else %>
          Browse by Call Number
        <% end %>
      </h1>
      <p>
        <span class="strong">Browse by call number help:</span> 
        Search a Library of Congress (LC) or Dewey call number and view an alphabetical list of all call numbers and related titles indexed in the Library catalog. <a href="https://guides.lib.umich.edu/c.php?g=282937">Learn more about call numbers<span class="visually-hidden"> (link points to external site)</span></a>.
      </p>
      <% if list.show_table? %>
        <%= erb :'components/pagination', locals: {label: 'Top pagination', list: list} %>
        <table class="browse-table" aria-labelledby="maincontent">
          <thead>
            <tr>
              <th>Call number</th>
              <th>Item</th>
            </tr>
          </thead>
          <tbody>
            <% list.items.each do |result| %>
              <% if result.match_notice? %>
                <tr class="match-<%= list.num_matches == 0 ? 'none' : 'notice' %>">
                  <td colspan="2">
                    <%= list.match_text %>
                  </td>
                </tr>
              <% else %>
                <tr <% if result.exact_match? %>class="exact-match"<% end %>>
                  <td>
                    <span <% if result.exact_match? %>class="strong"<% end %>>
                      <%= result.callnumber %>
                    </span>
                  </td>
                  <td>
                    <dl>
                      <dt class="visually-hidden">Title:</dt>
                      <dd>
                        <a href="<%= result.url %>"><%= result.title %></a>
                        <% if result.vernacular_title %>
                          <span class="vernacular"><%= result.vernacular_title %></span>
                        <% end %>
                      </dd>
                      <% if result.author %>
                        <dt>Main Author:</dt>
                        <dd>
                          <%= result.author %>
                          <% if result.vernacular_author %>
                            <span class="vernacular">| <%= result.vernacular_author %></span>
                          <% end %>
                        </dd>
                      <% end %>
                      <% if result.publisher %>
                        <dt>Published/Created:</dt>
                        <dd>
                          <%= result.publisher %>
                          <% if result.vernacular_publisher %>
                            <span class="vernacular">| <%= result.vernacular_publisher %></span>
                          <% end %>
                        </dd>
                      <% end %>
                      <% if result.series %>
                        <dt>Series:</dt>
                        <dd>
                          <%= result.series %>
                          <% if result.vernacular_series %>
                            <span class="vernacular">| <%= result.vernacular_series %></span>
                          <% end %>
                        </dd>
                      <% end %>
                    </dl>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= erb :'components/pagination', locals: {label: 'Bottom pagination', list: list} %>
      <% end %>
      <section class="give-feedback">
        <a href="https://umich.qualtrics.com/jfe/form/SV_bCwYIKueEXs8wBf" target="_blank" rel="noopener noreferrer" aria-label="Give feedback about this page - Opens in new window">Give feedback about this page <m-icon name="open-in-new"></m-icon></a>
      </section>
    </main>
    <footer class="page-footer">
      <div class="page-footer__content">
        <div class="viewport-container">
          <nav class="footer-nav" aria-label="Footer">
            <ul>
              <li>
                <a href="https://search.lib.umich.edu/">Home</a>
              </li>
              <li>
                <a href="https://search.lib.umich.edu/accessibility">Accessibility</a>
              </li>
              <li>
                <a href="https://guides.lib.umich.edu/c.php?g=914690">Tips for using Library Search</a>
              </li>
              <li>
                <a href="https://lib.umich.edu/research-and-scholarship/help-research/how-we-can-help">Get research help</a>
              </li>
              <li>
                <a href="https://search.lib.umich.edu/technical-overview">Technical overview</a>
              </li>
              <li>
                <a href="https://ill.lib.umich.edu/">Make an <abbr title="Inter Library Loan">I.L.L.</abbr> Request</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="page-footer__disclaimer">
        <div class="viewport-container">
          <span>&copy; <%= Date.today.year %>, Regents of the University of Michigan.</span>
          <span>For details and exceptions, see the <a href="https://lib.umich.edu/about-us/policies/copyright-policy">Copyright&nbsp;Policy</a>.</span>
        </div>
      </div>
    </footer>
    <m-chat>
      <div id="chat" tabindex="-1"></div>
    </m-chat>
    <script src="<%=ENV.fetch('BASE_URL')%>/browse.js"></script>
    <script>
      // Listen for changes in the search box dropdown menu
      (function() {
        var selectMenu = document.querySelector('.search-box-dropdown > select');
        var callback = function(event) {
          var selectedOption = event.target.options[event.target.selectedIndex];
          window.dataLayer.push({
            event: 'selectionMade',
            selectedElement: selectedOption
          });
        };
        selectMenu.addEventListener('change', callback, true);
      })();
    </script>
  </body>
</html>
