<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js',
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-5KZ8T2S');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1341620-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1341620-18');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W0C2LGTEDC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-W0C2LGTEDC');
    </script>
    <title>Library Search | <%= list.doc_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/@umich-lib/web@1/umich-lib.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,600,0,0..200">
    <link rel="stylesheet" href="<%=ENV.fetch('BASE_URL')%>/browse.css">
    <script type="module" src="https://unpkg.com/@umich-lib/web@1/dist/umich-lib/umich-lib.esm.js"></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5KZ8T2S"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section aria-label="Skip links" class="site-skip-links">
      <div class="viewport-container">
        <ul>
          <li>
            <a href="#maincontent">Skip to main content</a>
          </li>
          <li>
            <a href="#chat">Skip to Ask a Librarian chat</a>
          </li>
        </ul>
      </div>
    </section>
    <m-universal-header></m-universal-header>
    <m-website-header name="Search" to="https://search.lib.umich.edu/" variant="dark">
      <div role="presentation" class="website-header-inner-container">
        <a href="https://apps.lib.umich.edu/my-account">Account</a>
        <a href="https://apps.lib.umich.edu/my-account/favorites">My Favorites</a>
      </div>
    </m-website-header>
    <%= erb :'layout/search_box', locals: { list: list } %>
    <%= erb :'layout/datastore_navigation' %>
    <main class="viewport-container">
      <%
        url_params = request.params.map {|key, value| key} 
        if !url_params.include? 'direction'
      %>
        <m-callout dismissable icon>
          <p><span class="strong">Browse by <%= list.name %> beta:</span> We're testing a new feature to browse the catalog by <%= list.name %>. Let us know what you think at our <%= erb :'components/external_link', locals: { url: defined?(feedback_url) ? feedback_url : 'https://umich.qualtrics.com/jfe/form/SV_bCwYIKueEXs8wBf', text: 'feedback form' } %>.</p>
        </m-callout>
      <% end %>
      <h1 id="maincontent" tabindex="-1">
        <%= list.title %>
      </h1>
      <% if list.help_text %>
        <p><%= list.help_text %></p>
      <% end %>
      <%= erb :'components/pagination', locals: { label: 'Top pagination', list: list } %>
      <%= yield %>
      <%= erb :'components/pagination', locals: { label: 'Bottom pagination', list: list } %>
      <section class="give-feedback">
        <%= erb :'components/external_link', locals: { url: 'https://umich.qualtrics.com/jfe/form/SV_bCwYIKueEXs8wBf', text: 'Give feedback about this page' } %>
      </section>
    </main>
    <footer class="page-footer">
      <div class="page-footer__content">
        <div class="viewport-container">
          <nav class="footer-nav" aria-label="Footer">
            <ul>
              <li>
                <a href="https://search.lib.umich.edu/">Home</a>
              </li>
              <li>
                <a href="https://search.lib.umich.edu/accessibility">Accessibility</a>
              </li>
              <li>
                <a href="https://guides.lib.umich.edu/c.php?g=914690">Tips for using Library Search</a>
              </li>
              <li>
                <a href="https://lib.umich.edu/research-and-scholarship/help-research/how-we-can-help">Get research help</a>
              </li>
              <li>
                <a href="https://search.lib.umich.edu/about-library-search">About Library Search</a>
              </li>
              <li>
                <a href="https://ill.lib.umich.edu/">Make an <abbr title="Inter Library Loan">I.L.L.</abbr> Request</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="page-footer__disclaimer">
        <div class="viewport-container">
          <span>&copy; <%= Date.today.year %>, Regents of the University of Michigan.</span>
          <span>For details and exceptions, see the <a href="https://lib.umich.edu/about-us/policies/copyright-policy">Copyright&nbsp;Policy</a>.</span>
        </div>
      </div>
    </footer>
    <m-chat>
      <div id="chat" tabindex="-1"></div>
    </m-chat>
    <script src="<%=ENV.fetch('BASE_URL')%>/browse.js"></script>
    <script>
      // Listen for changes in the search box dropdown menu
      (function() {
        var selectMenu = document.querySelector('.search-box-dropdown > select');
        var callback = function(event) {
          var selectedOption = event.target.options[event.target.selectedIndex];
          window.dataLayer.push({
            event: 'selectionMade',
            selectedElement: selectedOption
          });
        };
        selectMenu.addEventListener('change', callback, true);
      })();
    </script>
  </body>
</html>
