<h1>Callnumber Browse</h1>
<p>Browsing by Callnumber: <%=list.original_reference%></p>

<p>Showing <%= list.num_rows_to_display %> items</p>
<% if list.has_previous_list? %>
  <a href="<%=list.previous_url%>">Previous</a> 
<% end %>
<% if list.has_next_list? %>
  <a href="<%=list.next_url%>">Next</a>
<% end %>
<% list.items.each do |d| %>

  <div style="margin:10px;">
    <div><span style="font-weight: bold">Title</span>: <%= d.title %></div>
    <div><span style="font-weight: bold">Subtitle</span>: <%= d.alternate_title %></div>
    <div><span style="font-weight: bold">Callnumber</span>:
      <span style="color: forestgreen"><%= d.callnumber %></span></div>
 </div>
<% end %>
