<% if list.show_table? %>
  <table class="browse-table" aria-labelledby="maincontent">
    <thead>
      <tr>
        <th>Records</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <% list.items.each do |result| %>
        <% if result.match_notice? %>
          <tr class="match-<%= list.num_matches == 0 ? 'none' : 'notice' %>">
            <td colspan="2">
              <%= list.match_text %>
            </td>
          </tr>
        <% else %>
          <tr <% if result.exact_match? %>class="exact-match"<% end %>>
            <td>
              <%= result.record_text %>
            </td>
            <td>
              <dl>
                <dt class="visually-hidden">Subject:</dt>
                <dd>
                  <a href="<%= result.url%>">
                    <span <% if result.exact_match? %>class="strong"<% end %>>
                      <%=result.subject%>
                    </span>
                  </a>
                  <% if result.heading_link? %>
                    <a href="<%= result.heading_link%>" class="vernacular pipe">View Heading Information</a>
                  <% end %>
                </dd>
                <% if result.has_cross_references? %>
                  <% result.cross_references.each do | cr | %>
                    <% if cr.kind == 'use' %>
                      <dt>Use instead of:</dt>
                      <dd>
                        <a href="<%= cr.url%>">
                          <%=cr.subject%>
                        </a> (<%= cr.record_text %>)
                        <% if cr.heading_link? %>
                          <a href="<%= cr.heading_link %>" class="vernacular pipe">View Heading Information</a>
                        <% end %>
                      </dd>
                    <% end %>
                    <% if cr.kind == 'term' %>
                      <dt>Narrower term:</dt>
                      <dd>
                        <% cr.terms.each do | term | %>
                          <%= term %>
                          <!--
                          <a href="<%#= term.url%>">
                            <%#=term.subject%>
                          </a> (<%#= term.record_text %>)
                          <%# if term.heading_link? %>
                            <a href="<%#= term.heading_link %>" class="vernacular pipe">View Heading Information</a>
                          <%# end %>
                          -->
                        <% end %>
                      </dd>
                    <% end %>
                  <% end %>
                <% end %>
              </dl>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
