<% if list.show_table? %>
  <table class="browse-table" aria-labelledby="maincontent">
    <thead>
      <tr>
        <th class="column-main">Subject</th>
        <th>Records</th>
      </tr>
    </thead>
    <tbody>
      <% list.items.each do |result| %>
        <% if result.match_notice? %>
          <tr class="match-<%= list.num_matches == 0 ? 'none' : 'notice' %>">
            <td colspan="2">
              <%= list.match_text %>
            </td>
          </tr>
        <% else %>
          <tr <% if result.exact_match? %>class="exact-match"<% end %>>
            <td class="column-main">
              <dl>
                <dt class="visually-hidden">Subject:</dt>
                <dd>
                  <% if result.results_count > 0 %><a href="<%= result.url%>"><% end %>
                    <span <% if result.exact_match? %>class="strong"<% end %>>
                      <%=result.subject%>
                    </span>
                  <% if result.results_count > 0 %></a><% end %>
                  <% if result.heading_link? %>
                    <%= erb :'components/external_link', locals: { url: result.heading_link, text: 'About this subject', classes: 'vernacular pipe' } %>
                  <% end %>
                </dd>
                <% if result.has_cross_references? %>
                  <% result.cross_references.to_h.keys.each do | cr | %>
                    <% if !result.cross_references[cr].nil? %>
                      <dt>
                        <%=
                          case cr
                          when :broader
                            "Broader Term(s):"
                          when :narrower
                            "Narrower Term(s):"
                          else
                            "See:"
                          end
                        %>
                      </dt>
                      <dd>
                        <% result.cross_references[cr].each_with_index do | cross_reference, index |%>
                          <a href="<%= cross_reference.url%>"><%=cross_reference.subject_display%></a> (<%=cross_reference.record_text%>)<% if result.cross_references[cr].length - 1 != index %>, <% end %>
                        <% end %>
                      </dd>
                    <% end %>
                  <% end %>
                <% end %>
              </dl>
            </td>
            <td>
              <%= result.record_text %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
