<% if list.show_table? %>
  <table class="browse-table subject-browse" aria-labelledby="maincontent">
    <thead>
      <tr>
        <th class="column-main">Subject</th>
        <th>Records</th>
      </tr>
    </thead>
    <tbody>
      <% list.items.each do |result| %>
        <% if result.match_notice? %>
          <tr class="match-<%= list.num_matches == 0 ? 'none' : 'notice' %>">
            <td colspan="2">
              <%= list.match_text %>
            </td>
          </tr>
        <% else %>
          <tr <% if result.exact_match? %>class="exact-match"<% end %>>
            <td class="column-main">
              <dl>
                <dt class="visually-hidden">Subject:</dt>
                <dd>
                  <% if result.results_count > 0 %><a href="<%= result.url%>"><% end %>
                    <span <% if result.exact_match? %>class="strong"<% end %>>
                      <%=result.subject%>
                    </span>
                  <% if result.results_count > 0 %></a><% end %>
                  <% if result.heading_link? %>
                    <%= erb :'components/external_link', locals: { url: result.heading_link, text: 'About this subject', classes: 'vernacular pipe' } %>
                  <% end %>
                  <span class="record-text">
                    <%= result.record_text %>
                  </span>
                </dd>
                <% if result.has_cross_references? %>
                  <% result.cross_references.to_h.keys.each do | cr | %>
                    <% if result.cross_references[cr].any? %>
                      <dt>
                        <%= result.cross_references[cr].text %> <span class="regular">(in subject list):</span>
                      </dt>
                      <dd>
                        <ol
                          <%= 'role="none"' if result.cross_references[cr].leading.length == 1 %>
                          class="cross-references-list"
                        >
                          <% result.cross_references[cr].leading.each do | cross_reference |%>
                            <li>
                              <a href="<%= cross_reference.url%>"><%=cross_reference.subject_display%></a> (<%=cross_reference.record_text%>)
                            </li>
                          <% end %>
                        </ol>
                        <% if result.cross_references[cr].has_remaining? %>
                          <details class="toggle-cross-references">
                            <summary aria-live="polite">
                              <span class="details-closed">
                                <%= result.cross_references[cr].summary_text_closed %>
                              </span>
                              <span class="details-open">
                                <%= result.cross_references[cr].summary_text_open %>
                              </span>
                            </summary>
                            <ol
                              <%= 'role="none"' if result.cross_references[cr].leading.length == 1 %>
                              start="<%= result.cross_references[cr].leading.length + 1%>"
                              class="cross-references-list"
                            >
                              <% result.cross_references[cr].remaining.each do | cross_reference |%>
                                <li>
                                  <a href="<%= cross_reference.url%>"><%=cross_reference.subject_display%></a> (<%=cross_reference.record_text%>)
                                </li>
                              <% end %>
                            </ol>
                          </details>
                        <% end %>
                      </dd>
                    <% end %>
                  <% end %>
                <% end %>
              </dl>
            </td>
            <td class="column-records">
              <%= result.record_text %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
